
.bg.chart .tooltip-arrow:before { display: none; }
.bg.chart > svg { background: #00000777;}
.bg.chart > .node { box-shadow: 4px 4px 2px 1px var(--dark-color); }

:is(.bg-1.chart.scroll-x,.bg-1.chart.scroll-y)::-webkit-scrollbar-thumb { background: #1A3A49;}

.bg-2.chart.scroll-y::-webkit-scrollbar-thumb {background: linear-gradient(90deg, rgb(231, 15, 148) 0%, rgb(181, 175, 4), #2cad6d 100%); }
.bg-2.chart.scroll-y::-webkit-scrollbar-thumb:vertical {background: linear-gradient(180deg, rgb(231, 15, 148) 0%, rgb(181, 175, 4), #2cad6d 100%); }

.bg-3.chart.scroll-x::-webkit-scrollbar-thumb {background: linear-gradient(90deg, #173a47 0%, #54CFFB 100%); }
.bg-3.chart.scroll-y::-webkit-scrollbar-thumb:vertical {background: linear-gradient(180deg, #1e4b5c 0%, #54CFFB 100%); }

.bg-4.chart.scroll-x::-webkit-scrollbar-thumb {background: linear-gradient(90deg, #000 0%, #333 100%); }
.bg-4.chart.scroll-y::-webkit-scrollbar-thumb:vertical {background: linear-gradient(180deg, #000 0%, #333 100%); }

.bg-5.chart.scroll-x::-webkit-scrollbar-thumb {background: linear-gradient(90deg, #021935 0%, #1b7ef8 100%); }
.bg-5.chart.scroll-y::-webkit-scrollbar-thumb:vertical {background: linear-gradient(180deg, #021935 0%, #1b7ef8 100%); }

.bg-6.chart.scroll-x::-webkit-scrollbar-thumb {background: linear-gradient(90deg, #0a3c43 0%, #137585 100%); }
.bg-6.chart.scroll-y::-webkit-scrollbar-thumb:vertical {background: linear-gradient(180deg, #0a3c43 0%, #137585 100%); }

.bg-7.chart.scroll-x::-webkit-scrollbar-thumb {background: linear-gradient(90deg, #000 0%, #333 100%); }
.bg-7.chart.scroll-y::-webkit-scrollbar-thumb:vertical {background: linear-gradient(180deg, #000 0%, #333 100%); }

.bg-8.chart.scroll-x::-webkit-scrollbar-thumb {background: linear-gradient(90deg, #365944 0%, #333 100%); }
.bg-8.chart.scroll-y::-webkit-scrollbar-thumb:vertical {background: linear-gradient(180deg, #365944 0%, #333 100%); }

.bg-9.chart.scroll-x::-webkit-scrollbar-thumb {background: linear-gradient(90deg, #6A1011 0%, #090A5D 100%); }
.bg-9.chart.scroll-y::-webkit-scrollbar-thumb:vertical {background: linear-gradient(180deg, #6A1011 0%, #090A5D 100%); }

.bg-10.chart.scroll-x::-webkit-scrollbar-thumb {background: linear-gradient(90deg, #371C70 0%, #422288 100%); }
.bg-10.chart.scroll-y::-webkit-scrollbar-thumb:vertical {background: linear-gradient(180deg, #371C70 0%, #422288 100%); }

.bg-11.chart.scroll-x::-webkit-scrollbar-thumb {background: linear-gradient(90deg, #000 0%, #333 100%); }
.bg-11.chart.scroll-y::-webkit-scrollbar-thumb:vertical {background: linear-gradient(180deg, #000 0%, #333 100%); }

.bg-12.chart.scroll-x::-webkit-scrollbar-thumb {background: linear-gradient(90deg, #0B5962 0%, #063439 100%); }
.bg-12.chart.scroll-y::-webkit-scrollbar-thumb:vertical {background: linear-gradient(180deg, #0B5962 0%, #063439 100%); }
