
.code-wrapper {
    position: absolute;
    width: 600px;
    height: 300px;
    z-index: 11;
    transition: all .5s ease-in-out;
    user-select: none;
    padding: -1rem;
}
.code-wrapper > h1 {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    user-select: none;
}
.code-wrapper > pre {
    font-family: veramolt;
    width: 800px;
    min-height: 300px;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 3px var(--dark-color);
}

pre.sh_sourceCode, 
pre.sh_sourceCode .sh_type {
    color:  #f06329;
}
pre.sh_sourceCode .sh_string,
pre.sh_sourceCode .sh_value {
    color: #efda4f;
}
pre.sh_sourceCode .sh_selector,
pre.sh_sourceCode .sh_function,
pre.sh_sourceCode .sh_keyword {
    color: #25a1e2;
}