@font-face {
    font-family: wickedmouse;
    src: url("../fonts/wickedmouse.otf") format("opentype");
}
@font-face {
    font-family: veramolt;
    src: url("../fonts/veramolt.ttf") format("truetype");
}
@font-face {
    font-family: dejavu;
    src: url("../fonts/dejavu.ttf") format("truetype");
}
