
.code, .code > * {
    font-family: var(--font-vera);
    letter-spacing: .1rem;
    line-height: 1.3rem;
}

.title, .title > * {
    font-family: var(--font-wicked);
}

.brand {
    color: var(--brand-color);
}
.light {
    color: var(--light-color);
}

p {
    margin: 1.2rem 0;
}
