
* {
    font-family: 'Arial';
    font-size: 16px;
    padding: 0;
    margin: 0;
    
}

.scroll-x { overflow-x: scroll; }
.scroll-y { overflow-y: scroll; }

.scroll-x::-webkit-scrollbar, 
.scroll-y::-webkit-scrollbar {
    height: .5rem;
    width: .5rem;
    background: var(--light);
}
.scroll-x::-webkit-scrollbar-thumb, 
.scroll-y::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: var(--brand);
}

body {
    background: var(--dark);
    color: var(--light);
}
