
* {
    font-family: 'Arial';
    padding: 0;
    margin: 0;
}

body {
    background: var(--dark-color);
    color: var(--light-color);
}

.scroll-x { overflow-x: scroll; }
.scroll-y { overflow-y: scroll; }

:is(.scroll-x,.scroll-y)::-webkit-scrollbar {
    height: .5rem;
    width: .5rem;
    background: var(--light-color);
}
:is(.scroll-x,.scroll-y)::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: var(--brand-color);
    border-radius: 10rem;
}
