
.chart {
    height: 100vh;
    width: 100vw;
    background: #ededed;
}
.chart .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.chart svg {
    z-index: 8;
}

.Treant>.node {
    border: 0;
    z-index: 9;
}

.Treant>.node img {
    height: 115px;
    aspect-ratio: 16/9;
    cursor: pointer;
}

.Treant .collapse-switch {
    width: 100%;
    height: 100%;
    border: none;
}

.Treant .node.collapsed .collapse-switch {
    background: none;
}