
.video {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    margin: .5rem 0;
}

.video-preview {
    border: .1rem solid var(--light);
    border-radius: .3rem;
    font-size: 26px;
}

.video .video-title {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: .8em;
    z-index: 1;
    top: .5rem;
    text-shadow: 3px 3px 5px var(--dark);
}

.video .video-gif {
    aspect-ratio: 16 / 9;
    opacity: .4;
    width: 100%;
    z-index: 0;
}

.video .video-icon {
    position: absolute;
    z-index: 2;
}
.video .video-icon i {
    font-size: 2rem;
}
