
.video-wrapper {
    position: absolute;
    aspect-ratio: 16/9;
    width: 400px;
    z-index: 10;
    transition: all .3s ease-in-out;
}

.video-wrapper > .video {
    width: inherit;
    height: inherit;
    border: .3rem solid;
}
.video-wrapper > .video-icon {
    position: absolute;
    border: .1rem solid var(--light-color);
    text-align: center;
    font-weight: bold;
    border-radius: 100%;
    padding: 1rem;
    width: 1rem;
    aspect-ratio: 1/1;
    cursor: pointer;
    
    /* border: 0.1rem solid var(--dark-color); */
    /* box-shadow: 0 0 3px 1px var(--dark-color); */
}
.video-icon.arrow-icon {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -2.8rem;
    border: 0;
    font-size: 3rem;
}
.video-icon.arrow-icon.left {
    right: 100%;
}
.video-icon.arrow-icon.light {
    text-shadow: 0 0 5px var(--dark-color);
    color: var(--light-color);
}
.video-icon.arrow-icon.dark {
    text-shadow: 0 0 5px var(--light-color);
    color: var(--dark-color);
}
.video-icon.code-icon {
    color: var(--dark-color);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -2rem;
    font-size: 1rem;
} 

.video-icon.close-icon {
    background: var(--red-color);;
    color: var(--light-color);
    right: -1.5rem;
    top: -1rem;
    width: .75em;
    padding: .75em;
    font-size: .75em;
} 
