
.video-wrapper {
    position: absolute;
    background-color: var(--dark-color);
    aspect-ratio: 16/7;
    width: 400px;
    z-index: 10;
    transition: all .5s ease-in-out;
    user-select: none;
    padding-top: .5rem;
    user-select: none;
    outline: none;
}

.video-wrapper .video {
    user-select: none;
    width: inherit;
    height: inherit;
    border: .3rem solid;
    border-radius: .5rem;
    user-select: none;
    outline: none;
}
