.bg-change {
    position: absolute;
    z-index: 11;
    right: 1rem;
    top: .5rem;
    width: 370px;
    overflow-x: scroll;
    display: flex;
    padding: .1rem .1rem 0 .1rem;
    background: var(--light-color);
    border: 1px solid var(--dark-color);
    overflow-y: hidden;
}
.bg-change button {
    cursor: pointer;
    padding: .1rem;
    margin: 0 .1rem;
    border: 0;
}
.bg-change button img {
    opacity: 0.95;
}
.bg-change button:hover img {
    opacity: 1;
}
.bg-change button:hover {
    transform: scale(1.05);
}
.bg-change img {
    width: 75px;
    aspect-ratio: 16/9;
}
