.bg-change {
    position: absolute;
    z-index: 11;
    right: 1rem;
    top: .5rem;
    width: 370px;
    overflow-x: scroll;
    display: flex;
    padding: .3rem;
    background: var(--light-color);
    border: 1px solid var(--dark-color);
}
.bg-change button {
    cursor: pointer;
    padding: .1rem;
    margin: 0 .2rem;
    border: 0;
}
.bg-change button:hover {
    transform: scale(1.05);
}
.bg-change img {
    width: 100px;
    aspect-ratio: 16/9;
}
