<div class="wrapper scroll-x">
    <button click="changeBg" data-bg-num="1">
        <img src="/img/bg/314769_small.jpg" />
    </button>
    <button click="changeBg" data-bg-num="2">
        <img src="/img/bg/4742279_small.jpg" />
    </button>
    <button click="changeBg" data-bg-num="3">
        <img src="/img/bg/4742287_small.jpg" />
    </button>
    <button click="changeBg" data-bg-num="4">
        <img src="/img/bg/314841_small.jpg" />
    </button>
    <button click="changeBg" data-bg-num="5">
        <img src="/img/bg/314873_small.jpg" />
    </button>
    <button click="changeBg" data-bg-num="6">
        <img src="/img/bg/314902_small.jpg" />
    </button>
    <button click="changeBg" data-bg-num="7">
        <img src="/img/bg/314917_small.jpg" />
    </button>
    <button click="changeBg" data-bg-num="8">
        <img src="/img/bg/314944_small.jpg" />
    </button>
    <button click="changeBg" data-bg-num="9">
        <img src="/img/bg/4742295_small.jpg" />
    </button>
    <button click="changeBg" data-bg-num="10">
        <img src="/img/bg/4742366_small.jpg" />
    </button>
    <button click="changeBg" data-bg-num="11">
        <img src="/img/bg/4742472_small.jpg" />
    </button>
    <button click="changeBg" data-bg-num="12">
        <img src="/img/bg/4742482_small.jpg" />
    </button>
    <button click="changeBg" data-bg-num="0">
        <img src="/img/no-bg.jpg" />
    </button>
</div>