<style>
    .bg-change {
        position: absolute;
        z-index: 11;
        right: 2rem;
        top: .5rem;
        width: 250px;
        overflow-x: scroll;
        display: flex;
        padding: .1rem .1rem 0 .1rem;
        overflow-y: hidden;
        user-select: none;
    }
    .bg-change button {
        user-select: none;
        cursor: pointer;
        padding: 0;
        margin: .5rem;
        border: 0;
        z-index: 8;
    }
    .bg-change button img {
        opacity: 0.95;
        box-shadow: 0 0 4px 2px var(--light-color);
    }
    .bg-change button:hover img {
        opacity: 1;
    }
    .bg-change button:hover {
        transform: scale(1.05);
    }
    .bg-change img {
        width: 50px;
        aspect-ratio: 16/9;
    }
    .bg-change::-webkit-scrollbar {
        height: .35rem;
    }
</style>

<div 
    ref="wrapper" 
    class="bg-change scroll-x"
>
    <button onclick="modules.general.changeBackground( '', 0 )" data-bg-num="0">
        <img src="/img/no-bg.jpg" />
    </button>
</div>