.zoom-wrapper {
    position: absolute;
    z-index: 11;
    left: 1rem;
    top: 1rem;
}
.zoom-wrapper button {
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem;
    color: var(--dark-color);
}
.zoom-wrapper button i {
    color:  var(--dark-color);
}