.zoom-buttons {
    position: absolute;
    z-index: 11;
    left: 1rem;
    top: 1rem;
}
.zoom-buttons button {
    cursor: pointer;
    font-size: 1rem;
    padding: .5rem 1rem;
    color: var(--dark-color);
    font-family: var(--font-vera);
}
.zoom-buttons i {
    color: var(--dark-color);
}
